.idea
composer.phar
vendor
build
.vagrant
vagrant/mysql/*
!vagrant/mysql/.gitkeep
vagrant/mongodb/*
!vagrant/mongodb/.gitkeep
/web/content/*
!/web/content/.gitkeep

/bower_components
/node_modules

/app/config/parameters.yml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
#/web/readable-theme

!/var/content
/var/content/*
!var/content/.gitkeep
