<div class="row">
    <div class="col-xs-10  col-xs-offset-1">
        <div class="post-content--front-page">
            <h2 class="front-page-title"><a href="{{ postRoute(post) }}">{{ post.title }}</a></h2>
            {{ post.lead | raw }}
        </div>
        {% if post.hasLead %}
            <a href="{{ postRoute(post) }}">
                <div class="read-more">
                    Tovább
                    <div class="read-more__arrow">
                        <span class="glyphicon  glyphicon-chevron-right"></span>
                    </div>
                </div>
            </a>
        {% endif %}
    </div>
</div>
