<div class="col-xs-12  col-sm-4">
    <div class="meta__comments">
        <span class="glyphicon glyphicon-comment"></span> &nbsp;
        <a href="{{ url('lencse_blog_post_show', {slug: post.slug, date:post.publicationDateInUrl}) }}#disqus_thread"></a>
    </div>
</div>
