<header class="header  push-down-45">
    <div class="container">

        <div class="logo  pull-left">
            <a href="{{ path('lencse_blog_post_list') }}">Kézműves Programozó</a>
            {#<a href="{{ path('lencse_blog_post_list') }}">#}
                {#<img src="readable-theme/images/logo.png" alt="Logo" width="352" height="140">#}
            {#</a>#}
        </div>

        {% include 'BlogBundle::nav.html.twig' %}

        {#<div class="hidden-xs  hidden-sm">#}
            {#<a href="#" class="search__container  js--toggle-search-mode">#}
                {#<span class="glyphicon  glyphicon-search"></span>#}
            {#</a>#}
            {#<div class="social">#}
                {#<a href="#" class="social__container">#}
                    {#<span class="glyphicon  glyphicon-heart"></span>#}
                {#</a>#}
                {#<ul class="social__dropdown">#}
                    {#<li><a href="https://www.facebook.com/ProteusThemes" target="_blank" class="social__container"><span class="zocial-facebook"></span></a></li>#}
                    {#<li><a href="https://twitter.com/ProteusNetCom" target="_blank" class="social__container"><span class="zocial-twitter"></span></a></li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}

    </div>
</header>
